<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your cities</title>
</head>
<body>
    
<div class="city-card">
    <h2>  <%= nameA %> </h2>
    <div> 
        <h4> Time zone:  </h4>
        <span>Local forecast: </span>

    </div>
</div>



<div class="city-card">
        <h2>  <%= nameB %> </h2>
        <div> 
            <h4> Time zone:  </h4>
            <span>Local forecast: </span>
        </div>
    </div>
    
    

</body>
</html>