<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="index.css" /> 
  <title>Time Zone Calculator</title>
</head>
<body>

<form action="/display" method="post" >
  <label for="cityA">Enter your city: </label>
    <input name="cityA"  autofocus />
  <label for="cityB">Enter your Destination city: </label>
    <input name="cityB"  autofocus />
  <input type="submit" value="Calculate Zones" />
</form>

</body>
</html>