<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="index.css" /> 
<title>Time Zone Calculator</title>
</head>

<body>

<form action="/display" method="post" >
  <label for="cityA">Enter your city: </label>
    <input name="cityA"  autofocus />
    <label for="cityB">Enter your Destination city: </label>
    <input name="cityB"  autofocus />

    <input type="submit" value="Calculate Zones" />
</form>

</body>
</html>